.fieldClass {font-size: 13px;color: yellow;}
.x-form-item label {color : #6fa0ce;}
.x-form-text, textarea.x-form-field {background-color: #0c1021;}
textarea.x-form-field {border : 1px solid #273369; background-color : #0c1021; color : yellow;}
.fieldClass {border-bottom-color: #273369;}
label.my-label-styleRow {color: #0c1021;}
label.my-label-styleW {color: #0c1021;}
#editorFormHeader, #addFormHeader {
  color: #fff;
  border-bottom: 1px solid #263238;
  background-color: #263238;
}
.x-grid3-hd-row td, .x-grid3-header-offset, .x-grid3-header, .x-grid3-header-inner {
  font-size: 14px !important;
  background-color: #212d34 !important;
  color: yellow;
}
.x-grid3-hd-row td {
  border-left-color: #12181c;
  border-right-color: #30424c;
}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {background-color: #212d34;}
.x-toolbar div.xtb-text {background-color: #212d34;}
.x-tbar-page-number {background-color: #212d34 !important;}
.x-grid3-scroller, .x-grid3-row {
  background-color: #0c1021 !important;
  border: none !important;
}
.x-grid3-cell {color: white;}

.x-grid3-hd-row-user-D8DDDF .x-grid3-hd-row td, .x-grid3-hd-row-user-D8DDDF .x-grid3-header-offset, .x-grid3-hd-row-user-D8DDDF .x-grid3-header, .x-grid3-hd-row-user-D8DDDF .x-grid3-header-inner {
  font-size: 14px !important;
  background-color: #192328 !important;
  color: orange;
}
.x-grid3-hd-row-user-D8DDDF .x-grid3-hd-row td {
  border-left-color: #0a0e10;
  border-right-color: #293740;
}
.x-grid3-hd-row-user-D8DDDF .x-panel-bbar .x-toolbar, .x-grid3-hd-row-user-D8DDDF .x-panel-tbar .x-toolbar {background-color: #192328;}
.x-grid3-hd-row-user-D8DDDF .x-toolbar div.xtb-text {background-color: #192328;}
.x-grid3-hd-row-user-D8DDDF .x-tbar-page-number {background-color: #192328 !important;}
.x-grid3-hd-row-user-D8DDDF .x-grid3-scroller, .x-grid3-hd-row-user-D8DDDF .x-grid3-row {
  background-color: #0c1021 !important;
  border: none !important;
}
.x-grid3-hd-row-user-D8DDDF .x-grid3-cell {color: #FFFFFF;}
.x-grid3-row-over .x-grid3-cell {background-color: #39100b; color: #FFF;}
/* Grid cells in the selected row */
.x-grid3-row-selected .x-grid3-cell {background-color: #3f5764 !important; color: #FFF;}

#black_overlay, #popWdwOverlay {
  background-color: #fff;
  -moz-opacity    : 0.5;
  opacity         : .50;
  filter          : alpha(opacity=50);
}