#mainHeader {background: linear-gradient(#6e411c, #2f1c0c); color: #FFF; border-bottom: solid 1px #2f1c0c;}
#divMainGrid {border-top: solid 1px #6e411c;}
#menuForm a:hover {background-color: #6e411c; border-bottom: solid 1px #ffff00;}
#iconMenuL a:hover {background: #6e411c !important; border-radius: 0px; border-bottom: solid 1px #ffff00;}

.x-grid3-hd-row td, .x-grid3-header-offset, .x-grid3-header, .x-grid3-header-inner {background-color: #4e2f14; color: #fff;}
.x-grid3-hd-row td {border-left-color: #2f1c0c; border-right-color: #6e411c;}
.x-grid3-header-inner {background: #4e2f14;}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {background-color: #2f1c0c;}
.x-toolbar div.xtb-text {background-color: #2f1c0c; color: #fff;}
.x-tbar-page-number {background-color: #2f1c0c !important; color: #fff;}

#mainHeaderSearch input[type="text"]:focus {background-color: transparent !important; border-bottom: solid 1px #ffff00; border-radius: 0px;}