#mainHeader {background: linear-gradient(#076e80, #010e10); color: #FFF; border-bottom: solid 1px #043e48;}
#divMainGrid {border-top: solid 1px #032e35;}
#menuForm a:hover {background-color: #076e80; border-bottom: solid 1px #fff;}
#iconMenuL a:hover {background-color: #076e80 !important; border-bottom: solid 1px #FF5722;}

.x-grid3-hd-row td, .x-grid3-header-offset, .x-grid3-header, .x-grid3-header-inner {background-color: #fcfcfc; color: #000;}
.x-grid3-hd.x-grid3-cell {border-bottom: #ff9734 solid 1px !important;}
.x-grid3-hd-row td {border-left-color: #fff; border-right-color: #eee;}
.x-grid3-header-inner {background: #fcfcfc;}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {background-color: #fcfcfc;}
.x-toolbar div.xtb-text {background-color: #fcfcfc;color: #000;}
.x-tbar-page-number {background-color: #fcfcfc !important;color: #000;}