#mainHeader {background: linear-gradient(to right, #ed9051, #d5257a); color: #FFF;}
#menuForm a:hover {background-color: #14486e;}
#iconMenuL a:hover {background: #14486e !important;}

.x-grid3-hd-row td, .x-grid3-header-offset, .x-grid3-header, .x-grid3-header-inner {background-color: #5b636a; color: #fff;}
.x-grid3-hd-row td {border-left-color: #494f55; border-right-color: #6d777f;}
.x-grid3-header-inner {background: #5b636a;}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {background-color: #5b636a;}
.x-toolbar div.xtb-text {background-color: #5b636a; color: #fff;}
.x-tbar-page-number {background-color: #5b636a !important; color: #fff;}