#mainHeader {background: linear-gradient(#355e79, #05090c); color: #FFF; border-bottom: solid 1px #1d3443;}
#divMainGrid {border-top: solid 1px #172935;}
#menuForm a:hover {background-color: #355e79; border-bottom: solid 1px #ff4081;}
#iconMenuL a:hover {background: #355e79 !important; border-radius: 0px; border-bottom: solid 1px #ff4081;}

.x-grid3-hd-row td, .x-grid3-header-offset, .x-grid3-header, .x-grid3-header-inner {background-color: #1d3443; color: #fff;}
.x-grid3-hd-row td {border-left-color: #111f27; border-right-color: #29495e;}
.x-grid3-header-inner {background: #1d3443;}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {background-color: #05090c;}
.x-toolbar div.xtb-text {background-color: #05090c; color: #fff;}
.x-tbar-page-number {background-color: #05090c !important; color: #fff;}
