#mainHeader {background: linear-gradient(#14486e, #081c2c); color: #FFF; border-bottom: solid 1px #0e324d;}
#divMainGrid {border-top: solid 1px #0b273c;}
#menuForm a:hover {background-color: #14486e; border-bottom: solid 1px #e80000;}
#iconMenuL a:hover {background: #14486e !important; border-radius: 0px; border-bottom: solid 1px #e80000;}

.x-grid3-hd-row td, .x-grid3-header-offset, .x-grid3-header, .x-grid3-header-inner {background-color: #0e324d; color: #fff;}
.x-grid3-hd-row td {border-left-color: #081c2c; border-right-color: #14486e;}
.x-grid3-header-inner {background: #0e324d;}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {background-color: #081c2c;}
.x-toolbar div.xtb-text {background-color: #081c2c; color: #fff;}
.x-tbar-page-number {background-color: #081c2c !important; color: #fff;}