#mainHeader {background: linear-gradient(#076e80, #010e10); color: #FFF; border-bottom: solid 1px #043e48;}
#divMainGrid {border-top: solid 1px #032e35;}
#menuForm a:hover {background-color: #076e80; border-bottom: solid 1px #fff;}
#iconMenuL a:hover {background-color: #076e80 !important; border-bottom: solid 1px #FF5722;}

.x-grid3-hd-row td, .x-grid3-header-offset, .x-grid3-header, .x-grid3-header-inner {background-color: #025670; color: #fff;}
.x-grid3-hd-row td {border-left-color: #02475d; border-right-color: #026583;}
.x-grid3-header-inner {background: #025670;}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {background-color: #025670;}
.x-toolbar div.xtb-text {background-color: #025670;color: #fff;}
.x-tbar-page-number {background-color: #025670 !important;color: #fff;}