#mainHeader {background: linear-gradient(
  to bottom, 
  #303a3a 0%,
  #467575 41%,
  #155050 65%,
  #315050 100%);
  color: #fff;
}
#menuForm a:hover {background-color: #2C7744;}
#iconMenuL a:hover {background: #2C7744 !important;}

.x-grid3-hd-row td, .x-grid3-header-offset, .x-grid3-header, .x-grid3-header-inner {background-color: #254040; color: #fff;}
.x-grid3-hd-row td {border-left-color: #172727; border-right-color: #335959;}
.x-grid3-header-inner {background: #254040;}
.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {background-color: #254040;}
.x-toolbar div.xtb-text {background-color: #254040; color: #fff;}
.x-tbar-page-number {background-color: #254040 !important; color: #fff;}