<style>
  #slide-menu {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    background-color : #313131;
    color: #fff;
    opacity: 1;
    display: none;

    -webkit-transform: translateX(30%);
    -ms-transform: translateX(30%);
    transform: translateX(30%);
    transition: all .1s;

  }
  #slide-menu #menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
    overflow: scroll;
  }
  #slide-menu #menu #menu::-webkit-scrollbar {display: none;}
  #slide-menu #menu a {
    display: block;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-family: Bri;
    font-size: 16px;
    font-weight: bolder;
    padding: 8px;
    border-radius: 0px;
    }
  #slide-menu #menu a:before {content: "\00a0\00a0-\00a0\00a0";}
  #slide-menu #menu a:hover {background-color: #000 !important; color: #fff !important; border-radius: 0px; border-left: 4px solid #e80000;}
  #closeLinks {
    /*border-bottom: 2px solid #CB1C17;
    padding: 5 0 10 0;*/
  }
  #linkIcon{padding-left: 1px;}
  #linkIcon i:before {
    color: #fff;
    content: 'home';
    /*border-right: 2px solid #CB1C17;
    padding: 0 10 8 10;*/
  }
  #linkIcon i:hover:before {color: #FF0000; content: 'home';}
  #closeLinksText {
    position: absolute;
    top: 10px;
    left: 65px;
    font-family: Bri;
    font-size: 25px;
    font-weight: bolder;
    color: #CB1C17;
  }
  #groupMenu {
    color: #FFFF00;
    font-family: Bri;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    padding-top: 5px;
  }
</style>