.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit
{
  background-color: #000;
  border-color: transparent;
  color: #fff;
  text-shadow: none;
  font-weight: lighter;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  background-color: #fdfaf8;
  text-shadow: none;
}
.ui-header {font-size: 1em;}
.ui-controlgroup-controls {width:100% !important;}
.ui-widget {font-size:75% !important;}

.btn-ok {
  background-color: #00ca6b !important;
  text-shadow: none !important;
  color: #fff !important;
  border-radius: 22px !important;
  /* box-shadow: 3px 4px 10px rgba(66,66,66, 0.5), 5px 5px 10px rgba(66,66,66, .5); */
  width: 88% !important;
  font-weight: normal;
  margin: auto auto !important;
  margin-top: 10px !important;
  border-color: transparent!important;
}
.btn-cancel {
  background-color: #E5393A !important;
  text-shadow: none !important;
  color: #fff !important;
  border-radius: 22px !important;
  /* box-shadow: 3px 4px 10px rgba(66,66,66, 0.5), 5px 5px 10px rgba(66,66,66, .5); */
  width: 88% !important;
  font-weight: normal;
  margin: auto auto !important;
  margin-top: 10px !important;
  border-color: transparent!important;
}
.btn-org {
  background-color: #ff6760 !important;
  color: #fff !important;
  text-shadow: none !important;
  border-radius: 22px;
  border-color: transparent!important;
}
.bar-blue {
  background-color: #1095d7 !important;
  color: #fff !important;
  text-shadow: none !important;
  border-radius: 13px;
  /* box-shadow: 3px 4px 10px rgba(66,66,66, 0.5), 5px 5px 10px rgba(66,66,66, .5); */
  margin-bottom: 4px;
  line-height: 28px;
}
.bar-blue .ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6 {
  font-weight: normal;
}